<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- الإنترنت -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- إشعارات Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- موقع المريض -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="التمريض المنزلي"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- خدمة Firebase Cloud Messaging -->
        <service
            android:name=".TamreedFirebaseMessagingService"
            android:exported="false">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

        </service>

        <!-- شاشة دخول الممرض -->
        <activity
            android:name=".NurseLoginActivity"
            android:exported="false" />

        <!-- لوحة الإدارة واعتماد الممرضين -->
        <activity
            android:name=".AdminActivity"
            android:exported="false" />

        <!-- لوحة الممرض -->
        <activity
            android:name=".NurseActivity"
            android:exported="false" />

        <!-- طلبات المريض -->
        <activity
            android:name=".MyBookingsActivity"
            android:exported="false" />

        <!-- طلبات الممرض -->
        <activity
            android:name=".NurseRequestsActivity"
            android:exported="false" />

        <!-- التطبيق الرئيسي -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>
